@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

p {
  font-family: "Graphik";
  font-style: normal;
}

a,
a:visited {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: rgb(240, 240, 155);
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Graphik";
  src: url("../fonts/GraphikBold.otf"), url("../fonts/GraphikRegular.otf");
  font-weight: 700;
}
@font-face {
  font-family: "Graphik";
  src: url("../fonts/GraphikRegular.otf");
  font-weight: 400;
}
/*--------------------*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.overlay {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 99;
  min-height: 100%;
  width: 100vw;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}

.mod-window {
  position: fixed;
  z-index: 100;
  top: 20vh;
  width: 40%;
  height: 50%;
  background-color: white;
  border-radius: 2%/4%;
}
@media (max-width: 1200px) {
  .mod-window {
    width: 330px;
    height: 250px;
  }
}
@media (max-width: 860px) {
  .mod-window {
    width: 300px;
    height: 200px;
  }
}
.mod-window .mod-window__close-btn {
  position: absolute;
  width: 4%;
  right: 2%;
  top: 2%;
  background: rgba(119, 136, 153, 0);
}
.mod-window .mod-window__close-btn .mod-window__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 0;
  padding: 50% 0;
  border-radius: 50%;
  background: rgba(119, 136, 153, 0.4);
}
.mod-window .mod-window__close-btn .mod-window__circle .icon-close {
  margin-top: 10%;
  color: white;
  font-size: calc(
    2px + 18 * ((100vw - 320px) / 1457)
  );
}

._container {
  margin: 0 16% 0 16%;
  width: 68%;
  position: relative;
  z-index: 2;
}
@media (max-width: 760px) {
  ._container {
    margin: 0 4% 0 4%;
    width: 92%;
  }
}

.doc-btn {
  background: #2091f9;
  border-radius: 15%/50%;
  font-family: "Graphik";
  font-style: normal;
  font-size: calc(
    5px + 15 * ((100vw - 320px) / 1457)
  );
  color: white;
}

.doc-btn:hover {
  color: rgb(240, 240, 155);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 9.6vw;
}

.block-header {
  font-weight: 400;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2vw;
}
.block-header .block-header__title {
  font-size: calc(
    20px + 28 * ((100vw - 320px) / 1457)
  );
}
.block-header .block-header__subtitle {
  font-size: calc(
    12px + 16 * ((100vw - 320px) / 1457)
  );
}
.block-header .block-header__subtitle .small {
  display: none;
}
@media (max-width: 760px) {
  .block-header .block-header__subtitle .small {
    display: block;
  }
  .block-header .block-header__subtitle span {
    display: none;
  }
}

.header {
  position: relative;
  height: calc(
    200px + 842 * ((100vw - 320px) / 1457)
  );
}
@media (max-width: 760px) {
  .header {
    height: calc(
    763px + 167 * ((100vw - 320px) / 1457)
  );
  }
}
.header .header__background {
  position: absolute;
  width: 100%;
}
@media (max-width: 760px) {
  .header .header__background {
    height: calc(
    750px + 180 * ((100vw - 320px) / 1457)
  );
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.header .header__content {
  padding: 3.5% 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header .header__content .header__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 2vw;
  padding-right: 2vw;
}
@media (max-width: 760px) {
  .header .header__content .header__head {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}
.header .header__content .header__head a {
  font-size: calc(
    5px + 10 * ((100vw - 320px) / 1457)
  );
}
.header .header__content .header__head .header__burger {
  display: none;
  position: relative;
  z-index: 101;
}
@media (max-width: 760px) {
  .header .header__content .header__head .header__burger {
    background: rgba(0, 0, 0, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    gap: 20%;
    height: calc(
    16px + 9 * ((100vw - 320px) / 1457)
  );
    width: 6.3vw;
  }
  .header .header__content .header__head .header__burger div {
    background: white;
    height: 12%;
    -webkit-transition: width 0.3s linear;
    transition: width 0.3s linear;
    -webkit-transition: -webkit-transform 0.3s linear;
    transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  }
  .header .header__content .header__head .header__burger .burger__line1 {
    width: 100%;
  }
  .header .header__content .header__head .header__burger .burger__line2 {
    width: 70%;
  }
  .header .header__content .header__head .header__burger .burger__line3 {
    width: 50%;
  }
}
.header .header__content .header__head ._burger-active div {
  background: black;
}
.header .header__content .header__head ._burger-active .burger__line1 {
  width: 75%;
  -webkit-transform: rotate(45deg) translateY(350%);
          transform: rotate(45deg) translateY(350%);
}
.header .header__content .header__head ._burger-active .burger__line2 {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.header .header__content .header__head ._burger-active .burger__line3 {
  width: 75%;
  -webkit-transform: rotate(-45deg) translateY(-350%);
          transform: rotate(-45deg) translateY(-350%);
}
.header .header__content .header__head .header__sidebar {
  position: absolute;
  z-index: 100;
  top: 0;
  right: -4.5%;
  background: white;
  height: 100vh;
  width: 286px;
}
.header .header__content .header__head .header__menu {
  width: 24vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 760px) {
  .header .header__content .header__head .header__menu {
    width: 100%;
    height: 70%;
    margin-top: 25%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
  }
  .header .header__content .header__head .header__menu a {
    color: black;
    font-size: 20px;
  }
}
@media (max-width: 760px) {
  .header .header__content .header__head .header__socials {
    width: 30vw;
    margin-right: 25%;
  }
  .header .header__content .header__head .header__socials a {
    font-size: calc(
    22px + 13 * ((100vw - 320px) / 1457)
  );
  }
}
@media (max-width: 417px) {
  .header .header__content .header__head .header__socials {
    display: none;
  }
}
@media (max-width: 417px) {
  .header .header__content ._burger-soc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10%;
    width: 100%;
    height: 15%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header .header__content ._burger-soc a {
    color: black;
    font-size: calc(
    22px + 13 * ((100vw - 320px) / 1457)
  );
  }
}
.header .header__content .header__body {
  padding: 14% 0 0 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 760px) {
  .header .header__content .header__body {
    padding: 35% 0 0 0;
  }
}
.header .header__content .header__body p {
  text-align: center;
  color: white;
  letter-spacing: 0.2px;
}
.header .header__content .header__body .header__title {
  font-weight: 700;
  font-size: calc(
    20px + 54 * ((100vw - 320px) / 1457)
  );
  line-height: 113%;
}
@media (max-width: 760px) {
  .header .header__content .header__body .header__title {
    font-size: calc(
    48px + 26 * ((100vw - 320px) / 1457)
  );
    line-height: 115%;
  }
}
@media (max-width: 417px) {
  .header .header__content .header__body .header__title {
    font-weight: 400;
    line-height: 115%;
  }
  .header .header__content .header__body .header__title br {
    display: none;
  }
}
.header .header__content .header__body .header-subtitle {
  margin-top: 1.5vw;
  font-weight: 400;
  font-size: calc(
    7.5px + 20.5 * ((100vw - 320px) / 1457)
  );
  line-height: 142%;
}
@media (max-width: 760px) {
  .header .header__content .header__body .header-subtitle {
    margin-top: 5%;
    font-size: calc(
    28px + -8 * ((100vw - 320px) / 1457)
  );
  }
  .header .header__content .header__body .header-subtitle br {
    display: none;
  }
}
.header .header__content .header__body button {
  margin-top: 4.8vw;
  width: 13vw;
  font-weight: 400;
  padding: 1.3% 0px;
  line-height: 100%;
  letter-spacing: 1%;
}
@media (max-width: 760px) {
  .header .header__content .header__body button {
    margin-top: 16%;
    width: 236px;
    height: 52px;
    border-radius: 35px;
    padding: 16px 0px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
}

.body__pricing {
  background: #252b42;
}
.body__pricing .pricing__content {
  padding: 5.5% 0 5.5% 0;
}
.body__pricing .pricing__content .pricing__slider {
  padding: 7% 0 0 0;
}
.body__pricing .pricing__content .pricing__slider .slider__container {
  height: calc(
    50px + 285 * ((100vw - 320px) / 1457)
  );
  width: 100%;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 760px) {
  .body__pricing .pricing__content .pricing__slider .slider__container {
    height: 450px;
  }
}
.body__pricing .pricing__content .pricing__slider .slider__slide {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  position: absolute;
  height: 80%;
  width: 70%;
  padding: 2% 0 2% 0;
  top: 10%;
  background: white;
  border-radius: 1%/2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 760px) {
  .body__pricing .pricing__content .pricing__slider .slider__slide {
    height: 370px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.body__pricing .pricing__content .pricing__slider .slider__slide .slide__title {
  font-size: calc(
    5px + 15 * ((100vw - 320px) / 1457)
  );
  font-weight: 700;
  height: calc(
    14px + 14 * ((100vw - 320px) / 1457)
  );
  text-transform: uppercase;
}
@media (max-width: 760px) {
  .body__pricing .pricing__content .pricing__slider .slider__slide .slide__title {
    font-size: 20px;
    height: auto;
  }
}
.body__pricing .pricing__content .pricing__slider .slider__slide .slide__subtitle {
  font-size: calc(
    4px + 12 * ((100vw - 320px) / 1457)
  );
  font-weight: 400;
  height: calc(
    12px + 11 * ((100vw - 320px) / 1457)
  );
}
@media (max-width: 760px) {
  .body__pricing .pricing__content .pricing__slider .slider__slide .slide__subtitle {
    font-size: 16px;
    height: auto;
    width: 144px;
    text-align: center;
  }
}
.body__pricing .pricing__content .pricing__slider .slider__slide .slide__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.body__pricing .pricing__content .pricing__slider .slider__slide .slide__price .slide__num {
  font-size: calc(
    19px + 55 * ((100vw - 320px) / 1457)
  );
  font-weight: 700;
}
@media (max-width: 760px) {
  .body__pricing .pricing__content .pricing__slider .slider__slide .slide__price .slide__num {
    font-size: 74px;
  }
}
.body__pricing .pricing__content .pricing__slider .slider__slide .slide__price .slide__permonth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}
.body__pricing .pricing__content .pricing__slider .slider__slide .slide__price .slide__permonth .slide__baks {
  font-size: calc(
    5px + 15 * ((100vw - 320px) / 1457)
  );
  font-weight: 700;
}
@media (max-width: 760px) {
  .body__pricing .pricing__content .pricing__slider .slider__slide .slide__price .slide__permonth .slide__baks {
    font-size: 20px;
  }
}
.body__pricing .pricing__content .pricing__slider .slider__slide .slide__price .slide__permonth .slide__per-month {
  font-size: calc(
    4px + 12 * ((100vw - 320px) / 1457)
  );
  font-weight: 400;
}
@media (max-width: 760px) {
  .body__pricing .pricing__content .pricing__slider .slider__slide .slide__price .slide__permonth .slide__per-month {
    font-size: 16px;
  }
}
.body__pricing .pricing__content .pricing__slider .slider__slide .slide__feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}
@media (max-width: 760px) {
  .body__pricing .pricing__content .pricing__slider .slider__slide .slide__feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 180px;
  }
}
.body__pricing .pricing__content .pricing__slider .slider__slide .slide__feature .slide__pr-feature {
  font-weight: 400;
  font-size: calc(
    5px + 7 * ((100vw - 320px) / 1457)
  );
}
@media (max-width: 760px) {
  .body__pricing .pricing__content .pricing__slider .slider__slide .slide__feature .slide__pr-feature {
    font-size: 15px;
  }
}
.body__pricing .pricing__content .pricing__slider .slider__slide .slider__btn {
  margin-top: 2%;
  padding: 2% 4%;
  font-weight: 400;
  font-size: calc(
    3px + 17 * ((100vw - 320px) / 1457)
  );
}
@media (max-width: 760px) {
  .body__pricing .pricing__content .pricing__slider .slider__slide .slider__btn {
    font-size: 20px;
  }
}
.body__pricing .pricing__content .pricing__slider ._activeSlide {
  -webkit-animation: colorChange 0.5s linear forwards;
          animation: colorChange 0.5s linear forwards;
  height: 100%;
  top: 0;
}
@media (max-width: 760px) {
  .body__pricing .pricing__content .pricing__slider ._activeSlide {
    height: 450px;
  }
}
.body__pricing .pricing__content .pricing__slider ._activeSlide .slider__btn {
  background: white;
  color: #2091f9;
}
@-webkit-keyframes colorChange {
  from {
    background: white;
  }
  to {
    background: #2091f9;
  }
}
@keyframes colorChange {
  from {
    background: white;
  }
  to {
    background: #2091f9;
  }
}
.body__pricing .pricing__content .pricing__slider .slider__btns {
  margin-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 760px) {
  .body__pricing .pricing__content .pricing__slider .slider__btns {
    margin-top: 6%;
  }
}
.body__pricing .pricing__content .pricing__slider .slider__btns button {
  background: none;
}
.body__pricing .pricing__content .pricing__slider .slider__btns .icon-arrow {
  font-size: calc(
    3px + 27 * ((100vw - 320px) / 1457)
  );
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: white;
}
@media (max-width: 760px) {
  .body__pricing .pricing__content .pricing__slider .slider__btns .icon-arrow {
    font-size: calc(
    24px + -14 * ((100vw - 320px) / 1457)
  );
  }
}
.body__pricing .pricing__content .pricing__slider .slider__btns .slider__left {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.body__pricing .pricing__content .pricing__slider .slider__steps {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.body__pricing .pricing__content .pricing__slider .slider__steps .slider__dot {
  width: 20%;
  height: 0px;
  border: 3px solid #2091f9;
  border-radius: 3px;
}
.body__pricing .pricing__content .pricing__slider .slider__steps ._active {
  border-color: lightgray;
}

.body__contact-us {
  height: calc(
    300px + 906 * ((100vw - 320px) / 1457)
  );
  padding: 6% 0 6% 0;
}
.body__contact-us ._contact-us {
  color: black;
}
.body__contact-us .contact-us__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4%;
}
.body__contact-us .contact-us__form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.body__contact-us .contact-us__form-container .contact-us-message {
  text-align: center;
  font-weight: 700;
  font-size: calc(
    8px + 28 * ((100vw - 320px) / 1457)
  );
}
.body__contact-us .contact-us__form-container .contact-us-message span {
  color: #2091f9;
}
.body__contact-us .contact-us__form-container .contact-us__form {
  padding: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25vw;
  height: calc(
    230px + 439 * ((100vw - 320px) / 1457)
  );
  border: 1px solid #dddddd;
  border-radius: 3%/3%;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.body__contact-us .contact-us__form-container .contact-us__form .form__title {
  font-size: calc(
    12px + 8 * ((100vw - 320px) / 1457)
  );
  font-weight: 700;
}
.body__contact-us .contact-us__form-container .contact-us__form input {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  width: 20vw;
  font-size: calc(
    8px + 7 * ((100vw - 320px) / 1457)
  );
  padding: 6% 6%;
  background: #f5f5f5;
  border-radius: 11%/100%;
}
.body__contact-us .contact-us__form-container .contact-us__form .form__message {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  width: 20vw;
  font-size: calc(
    8px + 7 * ((100vw - 320px) / 1457)
  );
  padding: 6% 6%;
  background: #f5f5f5;
  border-radius: 11%/22%;
  height: calc(
    80px + 113 * ((100vw - 320px) / 1457)
  );
}
.body__contact-us .contact-us__form-container .contact-us__form ._form__error {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  width: 20vw;
  font-size: calc(
    8px + 7 * ((100vw - 320px) / 1457)
  );
  padding: 6% 6%;
  background: #f5f5f5;
  border-radius: 11%/100%;
}
.body__contact-us .contact-us__form-container .contact-us__form ._form__error::-webkit-input-placeholder {
  color: red;
}
.body__contact-us .contact-us__form-container .contact-us__form ._form__error::-moz-placeholder {
  color: red;
}
.body__contact-us .contact-us__form-container .contact-us__form ._form__error:-ms-input-placeholder {
  color: red;
}
.body__contact-us .contact-us__form-container .contact-us__form ._form__error::-ms-input-placeholder {
  color: red;
}
.body__contact-us .contact-us__form-container .contact-us__form ._form__error::placeholder {
  color: red;
}
.body__contact-us .contact-us__form-container .contact-us__form .form__btn {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  padding: 5% 12%;
  font-size: calc(
    12px + 8 * ((100vw - 320px) / 1457)
  );
  border-radius: 30%/100%;
}
.body__contact-us .contact-us__form-container .contact-us__info {
  background: black;
}
.body__contact-us .contact-us__form-container .contact-us__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.body__contact-us .contact-us__form-container .contacts__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: black;
}
.footer {
  padding: 5% 0 5% 0;
  background: #252b42;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}
@media (max-width: 760px) {
  .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer p {
  font-weight: 700;
  font-size: calc(
    3px + 17 * ((100vw - 320px) / 1457)
  );
}
.footer a {
  font-size: calc(
    5px + 10 * ((100vw - 320px) / 1457)
  );
  font-weight: 400;
}
.footer .footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6vw;
  padding-top: 0;
  padding-bottom: 0;
}
@media (max-width: 760px) {
  .footer .footer__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.footer .footer__content .footer__column {
  width: 10vw;
}
@media (max-width: 760px) {
  .footer .footer__content .footer__column {
    display: none;
  }
}
.footer .footer__content .footer__column-title {
  margin-bottom: 3vh;
}
.footer .footer__content .footer__menu {
  height: calc(
    100px + 104 * ((100vw - 320px) / 1457)
  );
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer .footer__contacts {
  margin-left: 7vw;
  height: calc(
    120px + 74 * ((100vw - 320px) / 1457)
  );
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 760px) {
  .footer .footer__contacts {
    margin-left: 0;
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .footer .footer__contacts {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.footer .footer__contacts p {
  display: inline-block;
  font-weight: 400;
  font-size: calc(
    5px + 10 * ((100vw - 320px) / 1457)
  );
}
@media (max-width: 760px) {
  .footer .footer__contacts p {
    font-size: calc(
    15px + 5 * ((100vw - 320px) / 1457)
  );
  }
}
.footer .footer__contacts .footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 760px) {
  .footer .footer__contacts .footer__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer .footer__contacts .footer__row .icon-geo {
  font-size: calc(
    12px + 26 * ((100vw - 320px) / 1457)
  );
  margin-right: 2%;
}
@media (max-width: 760px) {
  .footer .footer__contacts .footer__row .icon-geo {
    font-size: calc(
    24px + 14 * ((100vw - 320px) / 1457)
  );
  }
}
.footer .footer__contacts .footer__row .icon-phone {
  margin-left: 1%;
  font-size: calc(
    12px + 20 * ((100vw - 320px) / 1457)
  );
  margin-right: 2%;
}
@media (max-width: 760px) {
  .footer .footer__contacts .footer__row .icon-phone {
    font-size: calc(
    20px + 18 * ((100vw - 320px) / 1457)
  );
  }
}
.footer .footer__contacts .footer__socials a {
  font-size: calc(
    15px + 12 * ((100vw - 320px) / 1457)
  );
}
@media (max-width: 760px) {
  .footer .footer__contacts .footer__socials {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 40vw;
  }
  .footer .footer__contacts .footer__socials a {
    font-size: calc(
    27px + 5 * ((100vw - 320px) / 1457)
  );
  }
}