@import 'default';

.wrapper {
  @include flex-column;
  min-height: 100%;
  overflow: hidden;
}

// модальное окно
.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 99;
  min-height: 100%;
  width: 100vw;
  background: rgb(119, 136, 153, 0.7);
}
.mod-window {
  position: absolute;
  z-index: 100;
  top: 20vh;
  width: 40%;
  height: 50%;
  @media (max-width: 1200px) {
    width: 330px;
    height: 250px;
  }
  @media (max-width: 860px) {
    width: 300px;
    height: 200px;
  }
  background-color: white;
  border-radius: 2%/4%;

  .mod-window__close-btn {
    position: absolute;
    width: 4%;
    right: 2%;
    top: 2%;
    background: rgb(119, 136, 153, 0);

    .mod-window__circle {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 0;
      padding: 50% 0;
      border-radius: 50%;
      background: rgb(119, 136, 153, 0.4);
      .icon-close {
        margin-top: 10%;
        color: white;
        @include adaptiv-font(20, 2);
      }
    }
  }
}
// модальное окно
._container {
  margin: 0 16% 0 16%;
  width: 68%;
  position: relative;
  z-index: 2;
}
//реюз
.doc-btn {
  background: #2091f9;
  border-radius: 15% / 50%;
  font-family: 'Graphik';
  font-style: normal;
  @include adaptiv-font(20, 5);
  color: white;
}
.doc-btn:hover {
  color: rgb(240, 240, 155);
}
//реюз
//хедер
.header {
  position: relative;
  .header__background {
    position: absolute;
    width: 100%;
    @media (max-width: 760px) {
      @include adaptiv-background(930, 750);
      width: 100%;
      object-fit: cover;
    }
  }
  .header__content {
    padding: 3.5% 0 0 0;
    @include flex-column;
    .header__head {
      display: flex;
      justify-content: space-between;
      @include adaptiv-position(padding-left, 2);
      @include adaptiv-position(padding-right, 2);
      a {
        @include adaptiv-font(15, 5);
      }

      .header__menu {
        @include adaptiv-position(width, 24);
        display: flex;
        justify-content: space-around;
      }
      .header__socials {
        @include adaptiv-position(width, 9.6);
        display: flex;
        justify-content: space-between;
      }
    }
    .header__body {
      padding: 14% 0 0 0;
      width: 100%;
      @include flex-column;
      align-items: center;
      p {
        text-align: center;
        color: white;
        letter-spacing: 0.2px;
      }
      .header__title {
        font-weight: 700;
        @include adaptiv-font(74, 20);
        line-height: 113%;
      }
      .header-subtitle {
        @include adaptiv-position(margin-top, 1.5);
        font-weight: 400;
        @include adaptiv-font(28, 7.5);
        line-height: 142%;
      }
      button {
        @include adaptiv-position(margin-top, 4.8);
        @include adaptiv-position(width, 13);

        font-weight: 400;
        padding: 1.3% 0px;
        line-height: 100%;
        letter-spacing: 1%;
      }
    }
  }
}
//хедер
